<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-1.5.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	 
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<context:component-scan base-package="de.extra.client.plugins.outputplugin.ws.mtom" />
	                
	<jaxws:client id="extraClientMTOMWS" serviceClass="de.extra_standard.namespace.webservice.Extra" address="http://localhost:8088/mockExtraSterbedatenausPhase1">
	  <jaxws:dataBinding>
	      <bean class="org.apache.cxf.jaxb.JAXBDataBinding">
	        <property name="extraClass">
	          <list>
	            <value>de.drv.dsrv.extrastandard.namespace.request.Transport</value>
	            <value>de.drv.dsrv.extrastandard.namespace.response.Transport</value>
	            <value>de.drv.dsrv.extrastandard.namespace.error.Error</value>
	          </list>
	        </property>
	        <property name="namespaceMap" >
	        	<map>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/request/1</value></key>
						<value>xreq</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/response/1</value></key>
						<value>xres</value> 
					</entry>
				</map>
	        </property>
	      </bean>
	    </jaxws:dataBinding>
		<jaxws:properties>
			<entry key="mtom-enabled" value="true" />
		</jaxws:properties>    
	</jaxws:client>                  
	
<!-- 				<prop key="http://www.extra-standard.de/namespace/request/1">xreq</prop>
				<prop key="http://www.extra-standard.de/namespace/response/1">xres</prop>
				<prop key="http://www.extra-standard.de/namespace/error/1">xerr</prop>
				<prop key="http://www.extra-standard.de/namespace/components/1">xcpt</prop>
				<prop key="http://www.w3.org/2001/04/xmlenc#">xenc</prop>
				<prop key="http://www.w3.org/2000/09/xmldsig#">ds</prop>
				<prop key="http://www.extra-standard.de/namespace/logging/1">xlog</prop>
				<prop key="http://www.extra-standard.de/namespace/plugins/1">xplg</prop>
				<prop key="http://www.extra-standard.de/namespace/message/1">xmsg</prop>
				<prop key="http://www.extra-standard.de/namespace/service/1">xsrv</prop> -->


    <bean id="eXTraMTOMjaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>de.extra_standard.namespace.request._1.TransportRequestType</value>
                <value>de.extra_standard.namespace.response._1.TransportResponseType</value>                
            </list>
        </property>
		<property name="marshallerProperties">
			<map>
				<entry key="jaxb.encoding">
					<value>UTF-8</value>
				</entry>
				<entry key="jaxb.formatted.output">
					<value type="boolean">true</value>
				</entry>
				<entry key="jaxb.fragment">
					<value type="boolean">true</value>
				</entry>
				<entry key="com.sun.xml.bind.namespacePrefixMapper" value-ref="namespacePrefixMapper" />
			</map>
		</property>        
		<property name="schemaLanguage" value="http://www.w3.org/2001/XMLSchema" />
		<property name="mtomEnabled" value="true"></property>
    </bean>


</beans>