<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="de.extra.client.plugins.outputplugin.ws" />

	<bean id="webServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
		<constructor-arg ref="messageFactory" />
 		<property name="messageSender" ref="httpSender"> 
 		</property> 
	</bean>
	
	
	<!-- <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory" />-->
	<bean id="messageFactory" class="org.springframework.ws.soap.axiom.AxiomSoapMessageFactory">
	    <property name="payloadCaching" value="true" />
	</bean>

	
	 <bean id="httpParams" class="org.apache.commons.httpclient.params.HttpClientParams">
	      <!-- Timeout in milliseconds: in this case 2 minutes -->
	      <property name="soTimeout" value="120000" />
	 </bean>
	 
    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
      <property name="params" ref="httpParams" />
    </bean>
 
    <bean id="httpSender" class="org.springframework.ws.transport.http.CommonsHttpMessageSender">
      <constructor-arg>
        <ref bean="httpClient"/>
      </constructor-arg>
    </bean>  

</beans>