<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xmlns:cxf="http://cxf.apache.org/core" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-1.5.xsd 
    http://cxf.apache.org/transports/http/configuration http://cxf.apache.org/schemas/configuration/http-conf.xsd 
    http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	 
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<context:component-scan base-package="de.extra.client.plugins.outputplugin.mtomws" />
	                
	<jaxws:client id="extraClientMTOMWS" serviceClass="de.extra_standard.namespace.webservice.Extra" address="${plugins.outputplugin.wsOutputPlugin.endpoint.url}">
	  <jaxws:dataBinding>
	      <bean class="org.apache.cxf.jaxb.JAXBDataBinding">
			<property name="extraClass">
				<list>
					<value>de.drv.dsrv.extrastandard.namespace.messages.DataRequest</value>
					<value>de.drv.dsrv.extrastandard.namespace.error.Error</value>
				</list>
			</property>
	        <property name="namespaceMap" >
	        	<map>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/request/1</value></key>
						<value>xreq</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/response/1</value></key>
						<value>xres</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/components/1</value></key>
						<value>xcpt</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/error/1</value></key>
						<value>xerr</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/plugins/1</value></key>
						<value>xplg</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/logging/1</value></key>
						<value>xlog</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/message/1</value></key>
						<value>xmsg</value> 
					</entry>
					<entry>
						<key><value>http://www.extra-standard.de/namespace/service/1</value></key>
						<value>xsrv</value> 
					</entry>	
					<entry>
						<key><value>http://www.w3.org/2001/04/xmlenc#</value></key>
						<value>xenc</value> 
					</entry>	
					<entry>
						<key><value>http://www.w3.org/2000/09/xmldsig#</value></key>
						<value>ds</value> 
					</entry>																														
				</map>
	        </property>
	      </bean>
	    </jaxws:dataBinding>
		<jaxws:properties>
			<entry key="mtom-enabled" value="${plugins.outputplugin.wsCxfOutputPlugin.emtom-enabled:false}" />
			<entry key="schema-validation-enabled" value="${plugins.outputplugin.wsCxfOutputPlugin.validation:false}" />
		</jaxws:properties>    
	</jaxws:client>     
	
    <http-conf:conduit name="${plugins.outputplugin.wsOutputPlugin.endpoint.url}.*">
        <http-conf:client ConnectionTimeout="3000000" ReceiveTimeout="3000000"/>
    </http-conf:conduit>	
    
  
    <cxf:bus>
        <cxf:features>
            <cxf:logging/>
        </cxf:features>
    </cxf:bus>  
	
</beans>