<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
    http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
    http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-1.5.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>
	 
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<jaxws:endpoint
		id="extraMTOMService" address="${webservice.endpoint.url}"
		implementor="de.extra_standard.namespace.webservice.ExtraServiceImpl">
	    <jaxws:properties>
	      	<entry key="mtom-enabled" value="true"/>
	    </jaxws:properties>
<!-- 	    <jaxws:features>
    		<bean class="org.apache.cxf.management.interceptor.ResponseTimeFeature" />
	  	</jaxws:features>  -->
	</jaxws:endpoint>

</beans>