<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd">


	<bean
		class="de.extra.client.core.annotation.PropertyPlaceholderPluginConfigurer">
		<property name="propertiesArray">
			<array>
				<ref bean="extra-properties-basic" />
				<ref bean="extra-properties-user" />
			</array>
		</property>	
			<property name="ignoreNullValues" value="true" />
	</bean>

	<util:properties id="extra-properties-basic"
		location="classpath:extra-properties-basic.properties" />
	<util:properties id="extra-properties-user"
		location="classpath:extra-properties-user.properties" />

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<context:component-scan base-package="de.extra.client.core" />

</beans>