<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		
	<bean id="httpBean" class="de.extra.client.plugins.outputplugin.HttpSender">
		<constructor-arg index="0" value="${serverSettingLoc}" />
		<constructor-arg index="1" value="${senderSettungLoc}" />
		<constructor-arg index="2" ref="fileSystemHelper" />
	</bean>

	<bean id="fileSystemHelper"
		class="de.extra.client.plugins.outputplugin.filesystem.FileSystemHelper">
		<constructor-arg index="0" value="${eingangOrdner}" />
		<constructor-arg index="1" value="${reportOrdner}" />
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:extraclient.properties</value>
		</property>
	</bean>
</beans>