<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
          "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:eXTraClient.properties">
		</property>
	</bean>

	<import resource="classpath:spring-client.xml" />
	
	<bean id="clientCore" class="de.extra.client.core.ClientCore">
		<constructor-arg index="0" ref="dataPlugin" />
		<constructor-arg index="1" ref="configPlugin" />
		<constructor-arg index="2" ref="outputPlugin" />
		<constructor-arg index="3" ref="namespacePrefixMapper" />
		<constructor-arg index="4" ref="requestHelper" />
	</bean>	

	<bean id="configPlugin" class="de.extra.client.plugins.configplugin.ConfigPlugin">
	</bean>
	<!-- <bean id="dataPlugin" class="de.extra.client.plugins.dataPlugin.DataPlugin"> 
		</bean> -->
	<bean id="dataPlugin" class="de.extra.client.plugins.queryplugin.QueryPlugin">
	</bean>

	<bean id="outputPlugin" class="de.extra.client.plugins.outputplugin.OutputPlugin">
	</bean>
</beans>