<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="classpath:extraclient.properties" />

	<context:component-scan base-package="de.extra.client.plugins.configplugin" />

	<bean id="versandMap" class="org.springframework.beans.factory.config.MapFactoryBean"
		p:targetMapClass="java.util.HashMap">
		<property name="sourceMap">
			<map>
				<entry key="testIndicator" value="${testIndicator}" />
				<entry key="absenderClass" value="${absenderClass}" />
				<entry key="absenderBbnr" value="${absenderBbnr}" />
				<entry key="absenderName" value="${absenderName}" />
				<entry key="empfaengerClass" value="${empfaengerClass}" />
				<entry key="empfaengerBbnr" value="${empfaengerBbnr}" />
				<entry key="empfaengerName" value="${empfaengerName}" />
				<entry key="productName" value="${productName}" />
				<entry key="productManuf" value="${productManuf}" />
				<entry key="procedure" value="${procedure}" />
				<entry key="dataType" value="${dataType}" />
				<entry key="scenario" value="${scenario}" />
			</map>
		</property>
	</bean>
</beans>