<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
				http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	<!-- Importiert die Konfiguration für die Properties -->
	<import resource="./spoc-properties.xml" />

	<!--  Import der Spring-Config aus SPoCUtiltiy -->
	<import resource="./spoc-dao.xml" />

	<!-- Importiert die Konfiguration für die Routing-Funktionalität -->
	<import resource="./spoc-routing.xml" />

	<!-- Datenbankzugriff SPoC-Config-DB -->
	<jee:jndi-lookup id="dataSourceSPoCConfig" jndi-name="jdbc/SPoCConfigRef" resource-ref="true" />

	<!-- Datenbankzugriff SPoC-MTOM-DB -->
	<jee:jndi-lookup id="dataSourceSPoCMTOM" jndi-name="jdbc/SPoCMTOMRef" resource-ref="true" />
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	  <property name="basename" value="bundles.Messages" />
	</bean>
	
</beans>