<?xml version="1.0" encoding="ISO-8859-1" ?>
<configuration>

	<timestamp key="now" datePattern="yyyyMMdd_HHmmss"/>
	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{ISO8601,Europe/Berlin}:[%t] [%level{6}]: %logger{20} %msg%n</Pattern>
        </encoder>
    </appender>

	<logger name="org.springframework" level="ERROR" />
	<logger name="org.hibernate" level="ERROR" />
	<logger name="org.apache" level="INFO" />
	<logger name="org.eclipse.jetty.http" level="INFO" />
	
	<logger name="org.apache.cxf.interceptor" level="INFO" />
	<logger name="org.apache.cxf.interceptor.LoggingInInterceptor" level="INFO" />
	
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>