<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
		
		
		
	<bean id="eXTrajaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath"
			value="de.drv.dsrv.extrastandard.namespace.request:de.drv.dsrv.extrastandard.namespace.response:de.drv.dsrv.extrastandard.namespace.plugins:de.drv.dsrv.extrastandard.namespace.messages:de.drv.dsrv.extrastandard.namespace.error" />
		<!--  --><property name="schemas" ref="schemaList"  />
		<property name="marshallerProperties">
			<map>
				<entry key="jaxb.encoding">
					<value>UTF-8</value>
				</entry>
				<entry key="jaxb.formatted.output">
					<value type="boolean">true</value>
				</entry>
				<entry key="jaxb.fragment">
					<value type="boolean">true</value>
				</entry>
				<entry key="com.sun.xml.bind.namespacePrefixMapper" value-ref="namespacePrefixMapper" />
			</map>
		</property>
		<property name="schemaLanguage" value="http://www.w3.org/2001/XMLSchema" />
		<property name="mtomEnabled" value="true"></property>
	</bean>	
	
	<bean id="eXTraNoValidationjaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath"
			value="de.drv.dsrv.extrastandard.namespace.request:de.drv.dsrv.extrastandard.namespace.response:de.drv.dsrv.extrastandard.namespace.plugins:de.drv.dsrv.extrastandard.namespace.messages:de.drv.dsrv.extrastandard.namespace.error" />
		<property name="marshallerProperties">
			<map>
				<entry key="jaxb.encoding">
					<value>UTF-8</value>
				</entry>
				<entry key="jaxb.formatted.output">
					<value type="boolean">true</value>
				</entry>
				<entry key="jaxb.fragment">
					<value type="boolean">true</value>
				</entry>
				<entry key="com.sun.xml.bind.namespacePrefixMapper" value-ref="namespacePrefixMapper" />
			</map>
		</property>
		<property name="schemaLanguage" value="http://www.w3.org/2001/XMLSchema" />
		<property name="mtomEnabled" value="true"></property>
	</bean>		
	
	<bean id="eXTraMTOMjaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="contextPath"
			value="de.drv.dsrv.extrastandard.namespace.request:de.drv.dsrv.extrastandard.namespace.response:de.drv.dsrv.extrastandard.namespace.plugins:de.drv.dsrv.extrastandard.namespace.messages:de.drv.dsrv.extrastandard.namespace.error" />
		<property name="marshallerProperties">
			<map>
				<entry key="jaxb.encoding">
					<value>UTF-8</value>
				</entry>
				<entry key="jaxb.formatted.output">
					<value type="boolean">true</value>
				</entry>
				<entry key="jaxb.fragment">
					<value type="boolean">true</value>
				</entry>
				<entry key="com.sun.xml.bind.namespacePrefixMapper" value-ref="namespacePrefixMapper" />
			</map>
		</property>
		<property name="schemaLanguage" value="http://www.w3.org/2001/XMLSchema" />
		<property name="mtomEnabled" value="true"></property>
	</bean>		
	
	
	

	<bean id="namespacePrefixMapper" class="de.drv.dsrv.extra.marshaller.NamespacePrefixMapper">
		<property name="mappings">
			<props>
				<prop key="http://www.extra-standard.de/namespace/request/1">xreq</prop>
				<prop key="http://www.extra-standard.de/namespace/response/1">xres</prop>
				<prop key="http://www.extra-standard.de/namespace/error/1">xerr</prop>
				<prop key="http://www.extra-standard.de/namespace/components/1">xcpt</prop>
				<prop key="http://www.w3.org/2001/04/xmlenc#">xenc</prop>
				<prop key="http://www.w3.org/2000/09/xmldsig#">ds</prop>
				<prop key="http://www.extra-standard.de/namespace/logging/1">xlog</prop>
				<prop key="http://www.extra-standard.de/namespace/plugins/1">xplg</prop>
				<prop key="http://www.extra-standard.de/namespace/message/1">xmsg</prop>
				<prop key="http://www.extra-standard.de/namespace/service/1">xsrv</prop>
			</props>
		</property>
	</bean>


	<!-- schema list -->
	<util:list id="schemaList"> 
		<value>classpath:xsd/eXTra-request-1.xsd</value> 
		<value>classpath:xsd/eXTra-response-1.xsd</value> 
		<value>classpath:xsd/eXTra-messages-1.xsd</value> 
		<value>classpath:xsd/eXTra-error-1.xsd</value> 
		<value>classpath:xsd/eXTra-plugins-1.xsd</value> 
	</util:list> 
	
	<context:component-scan base-package="de.drv.dsrv.extra" />
</beans>